.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.direnv
variables.txt
.DS_Store
.envrc
.vscode
.env*.local
*.conf
*.db
*.log
*.wav
*.mp3
*.json
pjproject/pjsip-apps/src
models/*
native/bindings_wrap.cpp
native/*.so
native/build/
voices/
pjproject/
pyVoIP/
.pytest_cache/